{
  "env": {
      "browser": true,
      "es6": true
  },
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "rules": {
      "react-hooks/exhaustive-deps": 0,
      "prettier/prettier": [
          "error",
          {
            "printWidth": 100,
            "singleQuote": true,
            "trailingComma": "all",
            "bracketSpacing": true,
            "jsxBracketSameLine": true,
            "endOfLine": "auto"
          }
      ]
  }
}

